<div align="center">

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.png)](https://colab.research.google.com/github/wisaaco/Curs_FG24GOI0074221/blob/main/lessons/5_Pandas_Modificacio.ipynb)


Si no funciona el botó podeu copiar el següent [enllaç](https://colab.research.google.com/github/wisaaco/Curs_FG24GOI0074221/blob/main/lessons/5_Pandas_Modificacio.ipynb)
</div>

# Unitat 5: Manipulació

Continguts:

**5A**
- Manipulació de dataframes.
- Concatenació.
- Activitat.
  
**5B**

- Tractament d’informació desconeguda.

**5C**

- Preparació de dades per a la visualització.
- Llibrería Seaborn.
- Activitat.

In [1]:
import pandas as pd

In [ ]:
df2 = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30)],
           columns=('name', 'type', 'AvgBill')
                 )
df2

## 5.A Manipulació de dataframes

### Afegir columnes

Tenim diverses maneres d'afegir columnes a un _dataFrame_:

- Mitjançant el nom de la columna que volem afegir, tal com afegim una clau nova a un diccionari.
- `insert`: és un mètode que necessita 3 paràmetres. La posició on volem afegir la columna (`loc`), el seu nom (`column`) i la llista de valors (`value`).
- `assign`: molt semblant a l'anterior, però permet afegir múltiples columnes.

Vegem-ne alguns exemples:

In [ ]:
df2['Day'] = "Monday" # Com un diccionari. un ùnic valor a la nova sèrie
df2

In [ ]:
df2['Day'] = ['Monday', 'Tuesday', 'Wednesday', 'Thursday']
df2

In [ ]:
#Emprarem el mètode insert. Indicant on volem inserir aquesta columna amb el paràmetre loc

df2.insert(loc=1, column="Stars", value=[2,2,3,4])
df2

El mètode `assing` permet afegir múltiples columnes en una sola operació. És interessant veure que la columna anomenada _AvgHalfBill_ és el resultat de dividir una columna entre 2.

In [ ]:
df3 = df2.assign(AvgHalfBill=df2.AvgBill / 2, Michelin_Star=3)
df3

## Afegir files

Per afegir files (una nova mostra) a un _dataframe_ tenim el mètode `concat` que concatena dos o més _dataFrames_ separats per comes.

In [7]:
df_files = df2.copy() # Fem una còpia de tota la informació

#Cream un diccionari
fila = {"name":"Isaacs", "type":"bar" ,"AvgBill":[148.2], "day":"Friday"}

nou_df = pd.concat([df_files, pd.DataFrame(fila)])

In [ ]:
nou_df

## Eliminar columnes i files

Molts cops tendrem la necessitat d'eliminar informació que no ens és interessant.

### Columnes

Tenim el mètode `drop` que ens proporciona un nou _dataFrame_ sense la(es) fila(es) o la(les) columna(es) que seleccionem.
Si volem eliminar columnes podem fer-ho especificant la llista de columnes al paràmetre `columns` de la següent manera:

In [ ]:
df_no_michelin = df3.drop(columns=["Michelin_Star"]) # Eliminamos la última columna que hemos creado
df_no_michelin

Anem a veure com ha quedat el dataframe del qual hem eliminat una columna:

In [ ]:
df3

### Files
Per poder eliminar files, fem servir la mateixa funció `drop`, aquesta vegada sense el paràmetre que hem fet servir anteriorment, simplement indiquem els índexs a eliminar:

In [ ]:
df_less_rows = df_no_michelin.drop([1,3])
df_less_rows

#### Eliminació de files segons un criteri

In [ ]:
dfs1 = df3[df3.Stars>=3] # per una selecció?
dfs1

In [ ]:
df3.drop(df3.Stars>=3) #! requereix l'index

In [ ]:
df3[df3.Stars>=3].index

In [ ]:
df3.drop(df3[df3.Stars>=3].index)

In [ ]:
df3 #! Alerta amb els canvis

In [ ]:
df3.drop(df3[df3.Stars>=3].index, inplace=True)
df3

## Concatenació i unió de dataframes

A vegades les dades venem en diferents fitxers i necessiten un únic fitxer, aquest procés implica una concatenació de dataframes. I en altres ocasions, les dades són complementàries és a dir, hi ha noves columnes d'un dataframe i això es coneix com fer operacions d'unió (joins).

**Concatenació**

In [ ]:
df1 = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30)],
           columns=('name', 'type', 'AvgBill')
                 )
df1

In [ ]:
df2 = pd.DataFrame([('Biels', 'Quiosquet', 389.0),
                   ('Barkus', 'Bar', 24.0),
                   ('Blue Wall', 'bar', 80.5),
                   ('Bounty Hunters', 'Social Club', 125.30)],
           columns=('name', 'type', 'AvgBill')
                 )
df2

In [ ]:
dfAll = pd.concat([df1,df2])
dfAll

In [ ]:
dfAll = dfAll.reset_index()
dfAll

In [ ]:
dfAll.drop(columns=["index"])

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.concat.html
dfAll = pd.concat([df1,df2],ignore_index=True)
dfAll

**Unió**

Més informació: https://pandas.pydata.org/docs/user_guide/merging.html

In [ ]:
df1 = pd.DataFrame([('Jhon', 1, "Italy"),
                   ('Pep', 2, "Germany"),
                   ('William', 3, "Finland"),
                   ('Snake', 4, "Italy")],
           columns=('name', 'ID', 'Country')
                 )
df1

In [ ]:
df2 = pd.DataFrame([(1, 145.0, 3000.1),
                   ( 2, 189.2, 2030.2),
                   ( 3, 129.0, 3000.0),
                   ( 4, 198.1, 4020.2)],
           columns=('DNI', 'Weight', 'Salary')
                 )
df2

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

df1.merge(df2) #! Alerta

In [ ]:
df1.merge(df2, left_on='ID', right_on='DNI')

In [ ]:
df2 = pd.DataFrame([(1, 145.0, 3000.1), #No 2
                   ( 3, 129.0, 3000.0), # Multiples 3
                   ( 3, 159.0, 4000.0),
                   ( 3, 109.0, 5000.0),
                   ( 4, 198.1, 4020.2),
                   ( 5, 200.0, 5000.2)], #a new one 
           columns=('DNI', 'Weight', 'Salary')
                 )
df2

In [ ]:
df1.merge(df2, left_on='ID', right_on='DNI')

In [ ]:
df1.merge(df2, left_on='ID', right_on='DNI',how="left")

In [ ]:
df1.merge(df2, left_on='ID', right_on='DNI',how="right")

In [ ]:
df1.merge(df2, left_on='ID', right_on='DNI',how="inner")

In [ ]:
df1.merge(df2,how="cross")

## <span style="color:red">Activitat</span>
Donat el següent dataframe:

In [1]:
import pandas as pd

# cream un diccionari amb les dades
data = {'País': ['Estados Unidos', 'China', 'Japón', 'Alemania', 'Reino Unido', 'India', 'Francia', 'Italia', 'Brasil', 'Canadá'],
        'PIB (billones de dólares)': [21.44, 15.54, 5.15, 4.17, 2.62, 2.61, 2.58, 1.93, 1.67, 1.65],
        'Inflación (%)': [1.8, 2.9, 0.2, 1.6, 2.2, 5.0, 1.2, 0.9, 3.7, 1.8],
        'Tasa de desempleo (%)': [3.7, 3.6, 2.9, 3.2, 3.8, 6.6, 8.1, 10.0, 13.9, 5.6],
        'Índice de competitividad': [85.6, 83.1, 82.5, 80.9, 78.9, 64.4, 78.0, 70.3, 59.5, 77.2]}

# cream el dataframe
df_economia = pd.DataFrame(data)

In [3]:
# 1. Afegeix una columna al dataframe que sigui la població de cada país segons la següent llista: `poblacion = [328.2, 1393, 126.5, 83.2, 66.9, 1380, 66.99, 60.3, 212.6, 38.1]`
df_economia["Población"] =  [328.2, 1393, 126.5, 83.2, 66.9, 1380, 66.99, 60.3, 212.6, 38.1]

In [4]:
# 2. Afegeix una columna addicional que calculi el PIB per càpita per a cada país en dòlars dividint el PIB de cada país per la població.
df_economia["Pib_población"] = df_economia["PIB (billones de dólares)"] / df_economia["Población"]
df_economia

,País,PIB (billones de dólares),Inflación (%),Tasa de desempleo (%),Índice de competitividad,Población,Pib_población
0,Estados Unidos,21.44,1.8,3.7,85.6,328.20,0.065326
1,China,15.54,2.9,3.6,83.1,1393.00,0.011156
2,Japón,5.15,0.2,2.9,82.5,126.50,0.040711
3,Alemania,4.17,1.6,3.2,80.9,83.20,0.050120
4,Reino Unido,2.62,2.2,3.8,78.9,66.90,0.039163
5,India,2.61,5.0,6.6,64.4,1380.00,0.001891
6,Francia,2.58,1.2,8.1,78.0,66.99,0.038513
7,Italia,1.93,0.9,10.0,70.3,60.30,0.032007
8,Brasil,1.67,3.7,13.9,59.5,212.60,0.007855
9,Canadá,1.65,1.8,5.6,77.2,38.10,0.043307

In [6]:
# 3. Seleccionar els països amb una tasa d'atur major a 8.0
paisos_atur = df_economia[df_economia["Tasa de desempleo (%)"] > 8.0].País
## amb id
paisos_atur2 = df_economia[df_economia.iloc[:,3] > 8.0].País
## amb id 2
paisos_atur3 = df_economia.loc[df_economia.iloc[:,3] > 8.0, 'País']

llista_paisos = paisos_atur3.to_list()
print(llista_paisos)

for p in llista_paisos:
  print(f"Pais amb alt atur: {p}")

['Francia', 'Italia', 'Brasil']
Pais amb alt atur: Francia
Pais amb alt atur: Italia
Pais amb alt atur: Brasil

In [7]:
#4 . Crea un nou dataframe eliminant els països anteriorment seleccionats.

df_res = df_economia.drop(df_economia[df_economia.iloc[:,3] > 8.0].index)
df_res

,País,PIB (billones de dólares),Inflación (%),Tasa de desempleo (%),Índice de competitividad,Población,Pib_población
0,Estados Unidos,21.44,1.8,3.7,85.6,328.2,0.065326
1,China,15.54,2.9,3.6,83.1,1393.0,0.011156
2,Japón,5.15,0.2,2.9,82.5,126.5,0.040711
3,Alemania,4.17,1.6,3.2,80.9,83.2,0.050120
4,Reino Unido,2.62,2.2,3.8,78.9,66.9,0.039163
5,India,2.61,5.0,6.6,64.4,1380.0,0.001891
9,Canadá,1.65,1.8,5.6,77.2,38.1,0.043307

## <span style="color:red">Activitat</span>

Donat els dos següents dataframes, es demana: calcular la quantitat d'ajuda rebuda per cada municipi en funció del nombre total d'habitants.

In [8]:
import pandas as pd
import random

random.seed(0)

nombres = [f'Municipio{i}' for i in range(1, 11)] 

data_municipios = {
    'Nombre': nombres,
    'Código Postal': [random.randint(10000, 99999) for _ in range(10)],
    'Población': [random.randint(1000, 50000) for _ in range(10)]  # Añadimos un atributo aleatorio, en este caso "Población"
}

df_municipios = pd.DataFrame(data_municipios)


data_ayudas = {
    'Nombre': [random.choice(nombres) for _ in range(20)],
    'Ayuda Económica (en euros)': [random.randint(1000, 10000) for _ in range(20)],
    'Número de Beneficiarios': [random.randint(10, 100) for _ in range(20)]
}

df_ayudas = pd.DataFrame(data_ayudas)

print("Dataframe de Municipios:")
print(df_municipios)

print("\nDataframe de Ayudas:")
print(df_ayudas)

Dataframe de Municipios:
        Nombre  Código Postal  Población
0   Municipio1          60494      39232
1   Municipio2          65125      15315
2   Municipio3          15306      34075
3   Municipio4          43936      10127
4   Municipio5          77013      19470
5   Municipio6          73691      10158
6   Municipio7          63075       7214
7   Municipio8          49755      41525
8   Municipio9          72468      17417
9  Municipio10          56930      35902

Dataframe de Ayudas:
         Nombre  Ayuda Económica (en euros)  Número de Beneficiarios
0   Municipio10                        9989                       72
1    Municipio3                        1230                       23
2    Municipio5                        2528                       48
3    Municipio2                        7534                       80
4    Municipio2                        1018                       47
5    Municipio6                        9086                      100
6    Municipio8                        6458                       25
7    Municipio9                        4996                       80
8    Municipio2                        6328                       52
9    Municipio6                        2031                       79
10   Municipio7                        4130                       36
11   Municipio6                        4632                       87
12  Municipio10                        4909                       80
13   Municipio4                        3334                       85
14   Municipio9                        9896                       46
15   Municipio8                        8339                       66
16   Municipio8                        2494                       21
17   Municipio9                        2318                       86
18   Municipio5                        6243                       59
19   Municipio1                        9322                       50

In [10]:
# calcular la quantitat d'ajuda rebuda per cada municipi en funció del nombre total d'habitants. 
df = df_ayudas.groupby("Nombre").sum()
df

             Ayuda Económica (en euros)  Número de Beneficiarios
Nombre
Municipio1                         9322                       50
Municipio10                       14898                      152
Municipio2                        14880                      179
Municipio3                         1230                       23
Municipio4                         3334                       85
Municipio5                         8771                      107
Municipio6                        15749                      266
Municipio7                         4130                       36
Municipio8                        17291                      112
Municipio9                        17210                      212

## 5.B Tractament de informacio desconeguda: Valors NaN, None, NaT



Els valors desconeguts `NaN`, `None` i `NaT` són elements que es poden trobar en els dataframes i que indiquen que les dades no existeixen o no estan disponibles. Cadascun d'aquests valors s'utilitza en un context específic:

- `NaN` (Not a Number): NaN és una representació especial per als valors numèrics que no són vàlids o no estan disponibles. Es fa servir principalment en sèries o dataframes amb dades numèriques. Quan realitzem operacions matemàtiques o estadístiques en dades que contenen `NaN`, el resultat sovint serà `NaN`. Per a identificar `NaN` en Pandas, pots utilitzar la funció `pd.isna()` o `pd.isnan()`.

- `None`: `None` és una constant especial en Python que s'utilitza per representar la manca d'un valor o la no disponibilitat d'una variable. Per verificar si un valor és `None`, pots utilitzar l'operador d'igualtat (`==`) o la funció pd.isna().

- `NaT` (Not a Timestamp): `NaT` és una representació especial per als valors de data i hora (datetime) que no estan disponibles o no estan definits. Aquest valor s'utilitza principalment en columnes que contenen dates i hores. Pots identificar `NaT` utilitzant la funció `pd.isna()` o `pd.isnull()` en columnes de dates.

Emprant el fitxer WHO.csv:

In [ ]:
import pandas as pd
df = pd.read_csv("data/WHO.csv")

# Contabiliza cuántos paises tienen algún valor NaN en cualquiera de sus columnas.
df.isna().sum()

In [ ]:
# ¿Cuál es el país con mayor número de muestras desconocidas?
index_row = df.isna().sum(axis=1).argmax()
print(index_row)
df.loc[index_row].Country

Les operacions de _Pandas_ es troben preparades per treballar amb aquests valors faltants, per observar-ho consultarem la documentació de l'operació de [suma](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html#pandas.DataFrame.sum).

Per altra banda, la mateixa llibreria ens permet inferir i substituir aquests valors amb altres:

De manera general podem dir que tenim 2 opcions:

- [fillna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html): Basicament substitueix els valors `Nan` per una constant o pel valor de la fila/columna anterior.
- [interpolate](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html) Omple els valors `NaN` mitjançant un mètode d'interpolació. Té sentit en sèries temporals amb observacions properes.

Una altra tècnica que també es pot usar (encara que pot ser perillos segons l'estudi) és la d'eliminar aquelles files i columnes que contenen aquest tipus de valors: [dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).

Per tenir més informació d'aquest tema podeu llegir la [documentació](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html#missing-data)

## <span style="color:red">Activitat</span>

In [11]:
# Dins les dades de WHO.csv, quants valors `Nan` la columna `Adult literacy rate (%)`?
df = pd.read_csv("data/WHO.csv")
serie = df["Adult literacy rate (%)"]

In [12]:
# Calcula la mitjana d'aquesta sèrie?
serie.mean()
# serie.mean(skipna=False) # provar amb aquest paràmetre

78.87175572519085

In [18]:
# Substitueix els valors `Nan` per zeros. Quina és la nova mitjana?

# La manera llarga
serie2 = serie.copy()
indexos = serie2[serie2.isna()].index

serie2.loc[indexos] = 0
res = serie2.mean()
print(res)

# La manera amb fillna
serie3 = serie.copy()
serie3 = serie3.fillna(0)
print(serie3.mean())

51.14950495049505
51.14950495049505

In [20]:
# Substitueix els valors `Nan` pel valor anterior. Quina és la nova mitjana?

  
serie3 = serie.copy()
serie3 = serie3.fillna(res)
res = serie3.mean()
print(res)

75.44689869756508

**EXTRA**: Substitueix els valors `Nan` per l'índex del valor anterior. Quina és la nova mitjana?

In [ ]:
serie3 = serie.copy()
indexos = serie3[serie3.isna()].index #obtenim els indexos amb Nan

indexos_1 = indexos - 1 # Obtenim els anteriors
print(indexos_1)
serie3[indexos] = serie3[indexos_1] #substituim valors
print(serie3)
print(serie3.mean())
#El problema que tenim en aquesta solució és si hi ha dos Nan seguits.
#a la propera cel·la ho arreglarem emprant un bucle.

In [ ]:

serie4 = serie.copy()
indexos = serie4[serie4.isna()].index

#Hauriem de comprovar si hi ha un Nan a la primera posició i donar algun 
#valor per defecte
for i in indexos:
  serie4.iloc[i] = serie4.iloc[i-1]

serie4

[![License: CC BY 4.0](https://img.shields.io/badge/License-CC_BY_4.0-lightgrey.svg)](https://creativecommons.org/licenses/by/4.0/) <br/>
Isaac Lera and Gabriel Moya <br/>
Universitat de les Illes Balears <br/>
isaac.lera@uib.edu, gabriel.moya@uib.edu